<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno | fullName:'uppercase'}}</td>
  </ng-container>

  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef> dni </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.dni}} </td>
  </ng-container>

  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef> curso </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.curso}} </td>
  </ng-container>

  <ng-container matColumnDef="parcial_1">
    <th mat-header-cell *matHeaderCellDef> parcial 1 </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.parcial_1}} </td>
  </ng-container>

  <ng-container matColumnDef="parcial_2">
    <th mat-header-cell *matHeaderCellDef> parcial 2 </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.parcial_2}} </td>
  </ng-container>

  <ng-container matColumnDef="nota_final">
    <th mat-header-cell *matHeaderCellDef> nota final </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.nota_final}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let alumno">
   
      <button (click)="editAlumno.emit(alumno)" mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteAlumno.emit(alumno)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

